body{
	background:#7c0d0d;
}

.centrado{
	margin:55px 300px;
 }

#Encabezado{
	text-align:center;
	font-style: italic;	}

p{
	color:#ffffff;
	font-style: italic;

}

.caja1{
	padding: 1em;
	background-color: #8ce1ff;
	color: #fff;
	float:left;
	height:400px;
	width:200px;
	margin:10px;
}

.caja2{
	padding: 1em;
	background-color: #8bdcdd;
	color: #fff;
	float:left;
	height:400px;
	width:200px;
	margin: 10px;
	
}.caja3{
	padding: 1em;
	background-color: #8fc1dc;
	color: #fff;
	float:left;
	height:400px;
	width:200px;
	margin: 10px;
}
.caja4{
	padding: 1em;
	background-color: #1afc9c;
	color: #fff;
	float:left;
	height:400px;
	width:400px;
	margin: 10px;

}



#Cuadro{
	background-color:#1abc9c;
	height:50px;
	width:150px;
	margin: 20px;
	float: none;
}

a{
	text-decoration;
	margin:40px 30px 30px 30px;
	color:#ffffff;
}

#CuadroE{
	background-color:#1abc9c;
	height:100px;
	width:300px;
	margin: 20px;
	float:none;
	text-align: center
}